html,
body {
  height: 100%;
}

.container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 2.5rem;
}

.logo {
  display: flex;
  justify-content: center;

  &--width-height {
    width: 35%;
    height: 35%;
  }
}
