<div class="container">
  <div class="container__box">
    <div class="container__form">
      <p>Edytuj kategorię</p>
      <form [formGroup]="categoryForm" (ngSubmit)="submitCategory()">
        <div class="container__form-field">
          <label for="categoryName">Wpisz nazwę kategorii</label>
          <input
            type="text"
            id="categoryName"
            name="categoryName"
            formControlName="name"
            class="container__form-field--input-style"
          />
        </div>
        <div class="container__form-buttons">
          <button class="container__form-buttons--style">
            Edytuj kategorię
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
